KCB_CONSUMER_KEY=
KCB_CONSUMER_SECRET=
KCB_BASE_URL=
KCB_AUTH_URL=
KCB_ACCESS_TOKEN=

KCB_COMPANY_CODE=
KCB_DEBIT_ACCOUNT_NUMBER=
KCB_CREDIT_ACCOUNT_NUMBER=
KCB_TRANSACTION_TYPE=
KCB_CURRENCY=KES
KCB_CALLBACK_URL=

